body{
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #131212;
  color:#fbf2f2;
  width: 100%;
}
header{
  display:flex;
}
.wattpad-header{
  display: flex;
}
.wattpad-logo{
  margin-top: 14px;
  margin-left: 61px;
}
.wattpad-logo img{
  padding-top: 15px;
  width: 155px;
 }.wattpad-header-list ul{
  display: flex;
  justify-content: space-between;
  width: 53rem;
  align-items: center;
}
.wattpad-header-list li{
  list-style: none;
}
.wattpad-header-list #Browse{
  border: none;
  width: 96px;
}
.wattpad-header-list #oppurtunities{
  width: 253px;
}
input{
  padding-bottom: 10px;
  border: none;
  font-weight: 900;
  font-size: 17px;
  outline: 0;
  padding-left: 27px;
  padding-top: 10px;
  color: #fbf2f2;
  background: #131212;
}
input::placeholder{
  color: #fbf2f2;
}
input:focus{
  border:1px groove #fbf2f2;
  border-radius:18px;
}
.wattpad-header-list{
  margin-top: -28px;
      padding-top: 25px;
}

.wattpad-login{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11rem;
}
.wattpad-login a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 17px;
  transition:3s;
}
.wattpad-login a:hover{
  transition: 4s;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 30px;
  color: black;
  background-color: #fafafa;
}
.wattpad-login select{
  border: none;
  background: #131212;
  color: white;
  transition: 2s;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.wattpad-login select:hover{
  background: white;
  color:black;
  transition: 2s;
  border:none;
  outline:none;
}
.dropdown{
  position:relative;
  display:inline-block;
  z-index: 99;
  }
  
  .dropdown-btn{
    /*padding: 10px; */
    /* background: #333; */
    /* color: #fff; */
    cursor: pointer;
    outline: none;
    font-weight: 800;
    border: none;
    border-radius: 3px;
    /* padding: 10px 27px; */
    /* font-family: 'Saira Semi Condensed', sans-serif; */
    font-size: 19px;
  }
  
  .dropdown .dropdown-content{
  display:block;
  visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position:absolute;
  min-width:100px;
  background:#fff;
  padding:10px;
 	
  }
  
  .dropdown:hover .dropdown-content{
  visibility: visible;
    opacity: 1;
    background-color:#131212;
    box-shadow:10px 8px 6px 1px rgba(48, 37, 37, 0.3);
  }
  
  .dropdown-content a{
  text-decoration:none;
  margin: 10px 0;
  display:block;
  color: #fbf2f2;
  font-size: 12px;
  transition: 3s;
  }
  .dropdown-content a:hover{
    text-decoration:none;
    margin: 10px 0;
    display:block;
    color: white;
    font-size: 18px;
    background: black;

    transition: 3s;
    }
  .dropdown .dropdown-content{
    display:block;
    -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
    }
    .dropdown:hover .dropdown-content{
      -webkit-transform: scale(1);
        transform: scale(1);
      }					
  .dropdown-content::before {
  position: absolute;
  content: '';
  border: 5px solid transparent;
  z-index: 1;
  bottom: 100%;
  border-top-width: 0;
  border-bottom-color: #fff;
  left: 25px;
  }
  #dropdown-btn1{
    /* padding: 10px; */
    background: #333;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 3px;
    /* padding: 10px 27px; */
  /* font-family: 'Saira Semi Condensed',    sans-serif; */
  font-size: 19px;
  }
  .dropdown #dropdown-content1{
  display:block;
  visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position:absolute;
  min-width:100px;
  background:#fff;
  padding:10px;
 	
  }
  .dropdown:hover #dropdown-content1{
    visibility: visible;
      opacity: 1;
      background-color:#fafafa;
      box-shadow:10px 8px 6px 1px rgba(48, 37, 37, 0.3);
    }
    .span{
      margin-left: 10px;
    }
   
#image{
 background-image: url(./topRightPortal.svg);
  background-repeat: no-repeat;
  background-position: right top;
  padding: 100px 0 40px;
  background-size: auto 100%;
}
.wattpad-middle{
  display: flex;
  justify-content: space-between;
  width: 84rem;
 
}
.wattpad-mid-flank{
  width: 40rem;
}
.wattpad-mid-flank h2{
  margin-left: 7rem;
  margin-top: 7rem;
  font-size: 57px;
  color: #ff7d00;
} 
h2{
  font-family: DinRounded,"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.wattpad-mid-flank h3{
  font-weight: 500;
    letter-spacing: 1px;
    margin-left: 7rem;
    font-size: 25px;
    margin-bottom: 40px
}
.wattpad-mid-flank h4{
  font-size: 20px;
  margin-left: 7rem;
  font-weight: 400;
  margin-bottom: 47px;
  letter-spacing: 1px;
  line-height: normal;
}
.wattpad-mid-flank .btn-start-reading{
  margin-left: 7rem;
    color: white;
    background: #ff5500;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 13px;
    padding-bottom: 14px;
    border: none;
    /* border-radius: 6px; */
    border-radius: 7px;
    font-size: 18px;
}
#start-writing{
  margin-left: 33px;
}
.hero-devices{
  display: flex;
  margin-top: 13rem;
  /* width: 0;*/
}
.hero-devices img{
  width: 43rem;
  height:23rem;
}
#see-stories{
  background-image: url(./bottomLeftPortal.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size:16rem;
}
.story{
  padding-top: 25px;
}
.story h3{
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 36rem
}
#item-container{
  margin-left: 12rem;
  display: flex;
  justify-content: space-between;
  width: 60rem;
}
#item{
  display:flex;
}
#item-container img{
  /* display: flex; */
  margin-left:120px;
  width: 32px;  
}
#item-container p{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 17rem;
}
#puslished img{
  margin-left:8rem;
}
.wattpadContents{
display:flex;
margin-top:38px;
}
.WattpadStudiosPoster{
  margin-left: 13rem;
  margin-top: 5rem;
}
.WattpadStudiosPoster img{
  width: 445px;
}
.studioslogo{
margin-top: 5rem;
width:38rem;
}
.studioslogo img{
  width:17rem;
  
}
.studioslogo h3{
  /* letter-spacing: 1px; */
    font-weight: 700;
    font-size: 27px;
    margin-top:29px;
    font-family: DinRounded,"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.studioslogo p{
  width: 28rem;
  font-size: 19px;
  /* color: #515050; */
  font-family: DinRounded,"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 13px;
}
#workd{
  font-size:20px;
}
#panda{
width:3rem;
vertical-align: middle;
}
#gee{
  width: 4rem;
    margin-left: 63px;
}
#cypher{
  width: 4rem;
  margin-left: 56px;
}
.wattpadContent-1{
  display: flex;
    justify-content: space-between;
    width: 71rem;
}
.bookshelves{
  margin-left: 14rem;
  margin-top: 16rem;
  text-align: end;
}
.bookshelves img{
  width: 14rem;
}
.bookshelves h3{
  font-weight: 700;
    font-size: 24px;
    margin-left: -57px;
    font-family: DinRounded,"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  }
.bookshelves p{
  width: 31rem;
  /* margin-left: 49rem; */
  /* color: #5a5656; */
  font-size: 22px;
}
#surroundings{
  width:7rem;
  margin-left: 48px;
}
.booksPoster{
  margin-top: 14rem;
}
.booksPoster img{
  width: 23rem;
}
.writers{
  text-align: center;
  margin-top: 119px;
  text-decoration: underline;
}
.writers p{
  font-size: 23px;
}
.wattpadWorks{
  text-align: center;
  margin-top: 100px;
  /* background-color: #fafafa; */
}
.wattpadWorks h3{
  font-size: 24px;
 
}
#fact{
  display:flex;
  margin-left: 63px;
}
.container{
  display: flex;
  justify-content: space-between;
  width: 77rem;
}
.secondPart{
 display: flex;
 justify-content: space-between;
 width: 22rem;
}
.secondPart h2{
  font-size: 100px;
    line-height: normal;
    margin-right: 27px;
    /* font-weight: 700; */
    margin-top: 28px;
    margin-bottom: 30px;
    /* font-size: 97px; */
    /* text-align: center; */
    /* margin-left: 100px; */
    /* color: #222; */
    line-height: normal;
}
.create h3{
  text-align: start;
}
.create p{
  width: 18rem;
  text-align: start;
  /* color: #6f6f6f; */
  font-size: 19px;
}
#build{
  width: 16rem;
}
.starBubble{
  background: url(./portalbg1.svg);
  background-size: 100%;
  margin-top:33px;
}
.number{
  color: white;
}
.numbe{
  margin-left: 40px;
  font-size: 40px;
  position: relative;
  padding-top: 10px;
  font-weight: 700;
  line-height: normal;
}
.explain{
  font-size: 27px;
  line-height: 32px;
  font-weight: 600;
}
.starBubble1{
  background: url(./portalbg2.svg);
  background-size: 100%;
}
.numbe span{
  
  font-size: 31px;
}
.starBubble2{
  background: url(./portalbg2.svg);
  background-size: 100%;
} 
.textNote{
  /* background-color: #fafafa; */
    padding: 55px 0 95px;
}
.textNote h3{
  font-size: 30px;
  margin-left: 111px;
}
.links{
  display: flex;
  justify-content: space-between;
  width: 78rem;
  margin-bottom: 93px;
  margin-left: 55px;
  margin-top: 100px;
}
.image{
  display: flex;
    align-items: center;
}
.infoma h4{
  font-size: 25px;
}
.infoma p{
  width: 277px;
  /* color: #6f6f6f; */
  line-height: 25px;
  font-weight: 400;
}
.infoma:hover{
  color:rgb(14, 151, 151)
}
.containe{
  background: url(./wattpad-wall.png);
  background-size: cover;
  
  background-repeat: no-repeat;

}
.take{
  color: white;
    text-align: center;
        padding-top: 108px;
            font-size: 22px;
}
#buttons{
  margin-top: 72px;
    margin-left: 12rem;
    margin-bottom: 100px
}
.btn-start-reading{
  margin-left: 17rem;
    color: white;
    background: #ff5500;
    padding-left: 47px;
    padding-right: 47px;
    padding-top: 13px;
    padding-bottom: 14px;
    border: none;
    /* border-radius: 6px; */
    border-radius: 7px;
    font-size: 18px;
    
}
#start-writing{
  margin-left: 33px;
}
#imag img{
  width: 55rem;
  margin-left: 12rem;
}